.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}



.section {
    min-height: 100vh;
}

.grid-two {
    min-height: 100vh;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.menu-spacing{
    height: 6.5rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}